<div  class="container card mx-auto w-50" >
    <form class="p-4"  id="formulario" action="/links/add" method="POST">
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="title" autofocus>  
        </div>  
        <div class="form-group">
            <input type="url" name="url" class="form-control" placeholder="url" placeholder="URL">
        </div>    
        <div class="form-group">
            <textarea name="description" rows="2" class="form-control" cols="30" placeholder="description"></textarea>
        </div>  
        <div class="form-group">
            <button class="btn btn-success btn-block">
                Save
            </button>
        </div>
    </form>
</div>
